name: release

on:
  workflow_dispatch: {}

jobs:
  release:
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: openshift-pipelines/release-tektoncd-task@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}